In [1]:
# importing dependencies
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# reading the csv file using pandas and creating a dataframe 
df_bike = pd.read_csv("resources/austin_B-Cycle_Trips.csv")
#df_station = pd.read_csv("resources/austin_bikeshare_stations.csv")
# displaying the top rows of the dataframe 
df_bike.head()

,Trip ID,Membership Type,Bicycle ID,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk,Return Kiosk ID,Return Kiosk,Trip Duration Minutes,Month,Year
0,9900012849,Walk Up,19.0,1/7/2016,17:12:35,2711.0,Barton Springs @ Kinney Ave,NaN,Stolen,21296,1.0,2016.0
1,9900348283,Walk Up,8.0,12/17/2015,20:12:00,2566.0,Pfluger Bridge @ W 2nd Street,NaN,Stolen,13981,12.0,2015.0
2,16912006,Local365,1558.0,3/20/2018,20:26:08,2499.0,City Hall / Lavaca & 2nd,NaN,Main Office,12496,NaN,NaN
3,10100370,Walk Up,127.0,5/22/2016,6:27:11,2537.0,West & 6th St.,2504.0,South Congress & Elizabeth,10981,5.0,2016.0
4,9900331751,Walk Up,843.0,11/21/2015,2:12:31,2537.0,West & 6th St.,NaN,Repair Shop,9118,11.0,2015.0

In [3]:
## Checking for NA Values
df_bike.count()

Trip ID                  991271
Membership Type          984960
Bicycle ID               990548
Checkout Date            991271
Checkout Time            991271
Checkout Kiosk ID        968117
Checkout Kiosk           991271
Return Kiosk ID          966858
Return Kiosk             991271
Trip Duration Minutes    991271
Month                    618479
Year                     618479
dtype: int64

In [4]:
# Filling the na values 
df_bike_na = df_bike.fillna(0)
df_bike_na.count()

Trip ID                  991271
Membership Type          991271
Bicycle ID               991271
Checkout Date            991271
Checkout Time            991271
Checkout Kiosk ID        991271
Checkout Kiosk           991271
Return Kiosk ID          991271
Return Kiosk             991271
Trip Duration Minutes    991271
Month                    991271
Year                     991271
dtype: int64

In [5]:
## Checking the number of unlabeled bike

print(len(df_bike[df_bike_na['Bicycle ID'] == 0]))

723

In [8]:
## checking how many rows for months and year are missing
print(len(df_bike[df_bike_na['Year'] == 0]))
print(len(df_bike[df_bike_na['Month'] == 0]))

372792
372792

In [9]:
## Filling the month and year column by splitting the Checkout Date into Month Date and Year
df_bike_na['Checkout Date'] = pd.to_datetime(df_bike_na['Checkout Date']) 
df_bike_na.head(1)
df_bike_na['Year'] = df_bike_na['Checkout Date'].dt.year
df_bike_na['Month'] = df_bike_na['Checkout Date'].dt.month
#df_bike_na['Trip Month Name'] = df_bike_na['Checkout Date'].dt.month_name()
df_bike_na['Trip Date'] = df_bike_na['Checkout Date'].dt.day
df_bike_na.head(1)

df_bike_na['Trip Day of Week'] = df_bike_na['Checkout Date'].dt.weekday_name
df_bike_na.head(1)

,Trip ID,Membership Type,Bicycle ID,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk,Return Kiosk ID,Return Kiosk,Trip Duration Minutes,Month,Year,Trip Date,Trip Day of Week
0,9900012849,Walk Up,19.0,2016-01-07,17:12:35,2711.0,Barton Springs @ Kinney Ave,0.0,Stolen,21296,1,2016,7,Thursday

In [10]:
## Renaming the Columns Name
df_bike_na = df_bike_na.rename(columns = {"Checkout Kiosk ID":"Checkout Station ID","Checkout Kiosk":"Checkout Station",
                                          "Return Kiosk ID":"Return Station ID","Return Kiosk":"Return Station",
                                          "Month":"Trip Month","Year":"Trip Year"})
df_bike_na.head(1)

,Trip ID,Membership Type,Bicycle ID,Checkout Date,Checkout Time,Checkout Station ID,Checkout Station,Return Station ID,Return Station,Trip Duration Minutes,Trip Month,Trip Year,Trip Date,Trip Day of Week
0,9900012849,Walk Up,19.0,2016-01-07,17:12:35,2711.0,Barton Springs @ Kinney Ave,0.0,Stolen,21296,1,2016,7,Thursday

In [11]:
## Creating a new column for Trip Hour
# Split the hour from the checkout time 
df_bike_na['Checkout Time'] = pd.to_datetime(df_bike_na['Checkout Time'])
df_bike_na['Trip Hour'] = df_bike_na['Checkout Time'].dt.hour
df_bike_na.head(1)

,Trip ID,Membership Type,Bicycle ID,Checkout Date,Checkout Time,Checkout Station ID,Checkout Station,Return Station ID,Return Station,Trip Duration Minutes,Trip Month,Trip Year,Trip Date,Trip Day of Week,Trip Hour
0,9900012849,Walk Up,19.0,2016-01-07,2018-08-28 17:12:35,2711.0,Barton Springs @ Kinney Ave,0.0,Stolen,21296,1,2016,7,Thursday,17

In [14]:
## To check how many bikes were stolen
df_bike_stolen = df_bike_na.loc[df_bike_na["Return Station"] == "Stolen"]
number_bike_stolen = df_bike_stolen["Return Station"].count()
number_bike_stolen

23

In [17]:
## To check how many bikes were missing
df_bike_missing = df_bike_na.loc[df_bike_na["Return Station"] == "Missing"]
number_bike_missing = df_bike_stolen["Return Station"].count()
number_bike_missing

25

In [15]:
## To check how many bikes have trip duration has zero minutes (faulty data)
df_bike_trip_minutes_zero = df_bike_na.loc[df_bike_na["Trip Duration Minutes"] == 0]
number_bike_trip_minutes_zero = df_bike_trip_minutes_zero["Trip ID"].count()
number_bike_trip_minutes_zero

19033