In [35]:
# Uncomment the command below if sodapy is not currently installed 
#!pip uninstall sodapy

In [36]:
# Dependencies
import requests
import json
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from pprint import pprint
from sodapy import Socrata


# Ignore Warnings as we are rewrititng values 
import warnings
warnings.filterwarnings('ignore')

In [37]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)

# First 991271 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("cwi3-ckqi", limit= 991271)

# Convert to pandas DataFrame
df_bike= pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [38]:
# Display the bottom rows of the dataframe 
df_bike.tail()

,bicycle_id,checkout_date,checkout_kiosk,checkout_kiosk_id,checkout_time,membership_type,month,return_kiosk,return_kiosk_id,trip_duration_minutes,trip_id,year
991266,1524,2018-07-31T00:00:00.000,Capitol Station / Congress & 11th,2497,23:24:32,U.T. Student Membership,NaN,City Hall / Lavaca & 2nd,2499,29,18122309,NaN
991267,95,2018-07-31T00:00:00.000,Long Center @ South 1st & Riverside,2549,23:29:21,Local365+Guest Pass,NaN,East 6th & Pedernales St.,2544,18,18122312,NaN
991268,252,2018-07-31T00:00:00.000,Rio Grande & 28th,3793,23:39:16,U.T. Student Membership,NaN,22nd & Pearl,3792,4,18122330,NaN
991269,2228,2018-07-31T00:00:00.000,Dean Keeton & Whitis,3795,23:42:50,U.T. Student Membership,NaN,Nueces & 26th,3838,2,18122340,NaN
991270,576,2018-07-31T00:00:00.000,Rio Grande & 28th,3793,23:44:32,U.T. Student Membership,NaN,Rio Grande & 28th,3793,4,18122349,NaN

## Initial Data Exploration 

On an initial exploration of the data we see that the columns month, year, membership type, bicycle id, return kiosk id, and check out kiosk id are missing values. It does not necessarily mean that the data is not present. It just needs to be extracted and reformatted.

In [39]:
# Count rows and columns 
df_bike.shape

(991271, 12)

In [40]:
# Check for missing values 
df_bike.count()

bicycle_id               990548
checkout_date            991271
checkout_kiosk           991271
checkout_kiosk_id        972240
checkout_time            991271
membership_type          984960
month                    618479
return_kiosk             991271
return_kiosk_id          971487
trip_duration_minutes    991271
trip_id                  991271
year                     618479
dtype: int64

In [41]:
# We see that the last values of our dataframe are missing the month and year
df_bike.tail()

,bicycle_id,checkout_date,checkout_kiosk,checkout_kiosk_id,checkout_time,membership_type,month,return_kiosk,return_kiosk_id,trip_duration_minutes,trip_id,year
991266,1524,2018-07-31T00:00:00.000,Capitol Station / Congress & 11th,2497,23:24:32,U.T. Student Membership,NaN,City Hall / Lavaca & 2nd,2499,29,18122309,NaN
991267,95,2018-07-31T00:00:00.000,Long Center @ South 1st & Riverside,2549,23:29:21,Local365+Guest Pass,NaN,East 6th & Pedernales St.,2544,18,18122312,NaN
991268,252,2018-07-31T00:00:00.000,Rio Grande & 28th,3793,23:39:16,U.T. Student Membership,NaN,22nd & Pearl,3792,4,18122330,NaN
991269,2228,2018-07-31T00:00:00.000,Dean Keeton & Whitis,3795,23:42:50,U.T. Student Membership,NaN,Nueces & 26th,3838,2,18122340,NaN
991270,576,2018-07-31T00:00:00.000,Rio Grande & 28th,3793,23:44:32,U.T. Student Membership,NaN,Rio Grande & 28th,3793,4,18122349,NaN

In [42]:
# Count how many rows are missing year, month, membership_type, bicycle_id 
missing_year = df_bike["year"].isnull().sum()
missing_month = df_bike["month"].isnull().sum()
missing_membership_type = df_bike["membership_type"].isnull().sum()
missing_bike_id = df_bike["bicycle_id"].isnull().sum()

# Create summary table of the missing values 
print(f"There are {missing_year} missing year values.")
print(f"There are {missing_month} missing month values.")
print(f"There are {missing_membership_type} missing membership type values.")
print(f"There are {missing_bike_id} missing bike id values.")

There are 372792 missing year values.
There are 372792 missing month values.
There are 6311 missing membership type values.
There are 723 missing bike id values.

In [43]:
# Check the data types 
df_bike.dtypes

bicycle_id               object
checkout_date            object
checkout_kiosk           object
checkout_kiosk_id        object
checkout_time            object
membership_type          object
month                    object
return_kiosk             object
return_kiosk_id          object
trip_duration_minutes    object
trip_id                  object
year                     object
dtype: object

## Initial Data Clean Up



1.	We need to extract the year, month and date from check out date, to fill in the missing values in the Month and Year column.

2.	We can extract the hour from Check Out time for future analysis.

In [44]:
# renaming the data frame
df_bike_clean = df_bike

In [45]:
# So now we see that we have a check out date that matches the number of trips taken 
df_bike_clean.count()

bicycle_id               990548
checkout_date            991271
checkout_kiosk           991271
checkout_kiosk_id        972240
checkout_time            991271
membership_type          984960
month                    618479
return_kiosk             991271
return_kiosk_id          971487
trip_duration_minutes    991271
trip_id                  991271
year                     618479
dtype: int64

In [46]:
# We see take the Checkout Date and extract the Month, Year, and Day of the Week 

df_bike_clean['checkout_date'] = pd.to_datetime(df_bike_clean['checkout_date']) 
df_bike_clean['year'] = df_bike_clean['checkout_date'].dt.year
df_bike_clean['month'] = df_bike_clean['checkout_date'].dt.month
df_bike_clean['Trip Date'] = df_bike_clean['checkout_date'].dt.day
df_bike_clean['Trip Day of Week'] = df_bike_clean['checkout_date'].dt.weekday_name

In [47]:
# Inspect the filled in values 
df_bike_clean.tail()

,bicycle_id,checkout_date,checkout_kiosk,checkout_kiosk_id,checkout_time,membership_type,month,return_kiosk,return_kiosk_id,trip_duration_minutes,trip_id,year,Trip Date,Trip Day of Week
991266,1524,2018-07-31,Capitol Station / Congress & 11th,2497,23:24:32,U.T. Student Membership,7,City Hall / Lavaca & 2nd,2499,29,18122309,2018,31,Tuesday
991267,95,2018-07-31,Long Center @ South 1st & Riverside,2549,23:29:21,Local365+Guest Pass,7,East 6th & Pedernales St.,2544,18,18122312,2018,31,Tuesday
991268,252,2018-07-31,Rio Grande & 28th,3793,23:39:16,U.T. Student Membership,7,22nd & Pearl,3792,4,18122330,2018,31,Tuesday
991269,2228,2018-07-31,Dean Keeton & Whitis,3795,23:42:50,U.T. Student Membership,7,Nueces & 26th,3838,2,18122340,2018,31,Tuesday
991270,576,2018-07-31,Rio Grande & 28th,3793,23:44:32,U.T. Student Membership,7,Rio Grande & 28th,3793,4,18122349,2018,31,Tuesday

In [48]:
df_bike_clean['Trip Hour'] = df_bike_clean['checkout_time'].apply(lambda x: x.split(":")[0])

In [53]:
# Inspect the filled in values 
df_bike_clean.tail(10)

,bicycle_id,checkout_date,checkout_kiosk,checkout_kiosk_id,checkout_time,membership_type,month,return_kiosk,return_kiosk_id,trip_duration_minutes,trip_id,year,Trip Date,Trip Day of Week,Trip Hour
991261,123,2018-07-31,22nd & Pearl,3792,23:07:37,U.T. Student Membership,7,3rd & West,2552,11,18122272,2018,31,Tuesday,23
991262,575,2018-07-31,22nd & Pearl,3792,23:08:37,U.T. Student Membership,7,21st & Speedway @PCL,3798,3,18122273,2018,31,Tuesday,23
991263,3471,2018-07-31,22nd & Pearl,3792,23:17:40,U.T. Student Membership,7,22nd & Pearl,3792,4,18122293,2018,31,Tuesday,23
991264,306,2018-07-31,23rd & Rio Grande,3841,23:20:17,U.T. Student Membership,7,23rd & Rio Grande,3841,1,18122298,2018,31,Tuesday,23
991265,759,2018-07-31,Capitol Station / Congress & 11th,2497,23:24:24,U.T. Student Membership,7,City Hall / Lavaca & 2nd,2499,29,18122307,2018,31,Tuesday,23
991266,1524,2018-07-31,Capitol Station / Congress & 11th,2497,23:24:32,U.T. Student Membership,7,City Hall / Lavaca & 2nd,2499,29,18122309,2018,31,Tuesday,23
991267,95,2018-07-31,Long Center @ South 1st & Riverside,2549,23:29:21,Local365+Guest Pass,7,East 6th & Pedernales St.,2544,18,18122312,2018,31,Tuesday,23
991268,252,2018-07-31,Rio Grande & 28th,3793,23:39:16,U.T. Student Membership,7,22nd & Pearl,3792,4,18122330,2018,31,Tuesday,23
991269,2228,2018-07-31,Dean Keeton & Whitis,3795,23:42:50,U.T. Student Membership,7,Nueces & 26th,3838,2,18122340,2018,31,Tuesday,23
991270,576,2018-07-31,Rio Grande & 28th,3793,23:44:32,U.T. Student Membership,7,Rio Grande & 28th,3793,4,18122349,2018,31,Tuesday,23

In [54]:
# Check for missing values 
df_bike_clean.count()

bicycle_id               990548
checkout_date            991271
checkout_kiosk           991271
checkout_kiosk_id        972240
checkout_time            991271
membership_type          984960
month                    991271
return_kiosk             991271
return_kiosk_id          971487
trip_duration_minutes    991271
trip_id                  991271
year                     991271
Trip Date                991271
Trip Day of Week         991271
Trip Hour                991271
dtype: int64

In [55]:
# Verify Data types
df_bike_clean.dtypes

bicycle_id                       object
checkout_date            datetime64[ns]
checkout_kiosk                   object
checkout_kiosk_id                object
checkout_time                    object
membership_type                  object
month                             int64
return_kiosk                     object
return_kiosk_id                  object
trip_duration_minutes            object
trip_id                          object
year                              int64
Trip Date                         int64
Trip Day of Week                 object
Trip Hour                        object
dtype: object

In [56]:
## converting trip duration minutes from object to integer
df_bike_change1 = df_bike_clean["trip_duration_minutes"].astype(int)
df_bike_clean["trip_duration_minutes"] = df_bike_change1

In [57]:
## Renaming the Columns Name
df_bike_clean = df_bike_clean.rename(columns = {"checkout_kiosk_id":"Checkout Station ID","checkout_kiosk":"Checkout Station",
                                          "return_kiosk_id":"Return Station ID","return_kiosk":"Return Station",
                                          "month":"Trip Month","year":"Trip Year","trip_id":"Trip ID",
                                                "trip_duration_minutes":"Trip Duration Minutes","membership_type":"Membership Type",
                                               "bicycle_id":"Bicycle ID","checkout_date":"Checkout Date","checkout_time":"Checkout Time",
                                               })
df_bike_clean = df_bike_clean[["Trip ID","Membership Type","Bicycle ID","Checkout Date","Checkout Time",
                               "Checkout Station ID","Checkout Station","Return Station ID","Return Station","Trip Duration Minutes",
                               "Trip Month","Trip Year","Trip Date","Trip Day of Week","Trip Hour"]]
df_bike_clean.head(1)

,Trip ID,Membership Type,Bicycle ID,Checkout Date,Checkout Time,Checkout Station ID,Checkout Station,Return Station ID,Return Station,Trip Duration Minutes,Trip Month,Trip Year,Trip Date,Trip Day of Week,Trip Hour
0,9900285854,Annual (San Antonio B-cycle),207,2014-10-26,13:12:00,2537,West & 6th St.,2707,Rainey St @ Cummings,76,10,2014,26,Sunday,13

## Cleaning the column Trip Duration 

But we are not dropping the rows for our final clean csv file because even in these rows the Trip IDs are correct which we can use to count number of rides made for our analysis for other columns

In [58]:
# To check how many bikes were stolen
# These bikes have unusally large trip duration
df_bike_stolen = df_bike_clean.loc[df_bike_clean["Return Station"] == "Stolen"]
number_bike_stolen = df_bike_stolen["Return Station"].count()


# To check how many bikes were missing
# These bikes have unusally large trip duration
df_bike_missing = df_bike_clean.loc[df_bike_clean["Return Station"] == "Missing"]
number_bike_missing = df_bike_missing["Return Station"].count()


# To check how many bikes have trip duration has zero minutes
df_bike_trip_minutes_zero = df_bike_clean.loc[df_bike_clean["Trip Duration Minutes"] == 0]
number_bike_trip_minutes_zero = df_bike_trip_minutes_zero["Trip ID"].count()

# Summary of bike trips with distinict data 
print(f"There are {number_bike_stolen} bikes reported as stolen.")
print(f"There are {number_bike_missing} bikes reported as missing.")
print(f"There are {number_bike_trip_minutes_zero} bikes that had a trip duration of zero.")

There are 23 bikes reported as stolen.
There are 25 bikes reported as missing.
There are 19033 bikes that had a trip duration of zero.

## Cleaning and data exploration of the Checkout Station ID and Checkout Station Column

But we are not dropping the rows for our final clean csv file because even in these rows the Trip IDs are correct which we can use to count number of rides made for our analysis for other columns

In [59]:
# To check how many Checkout Station ID are blank
number_df_bike_checkout_id_blank  = df_bike_clean["Checkout Station ID"].isnull().sum()
print(f"There are {number_df_bike_checkout_id_blank} Checkout Station IDs that are blank.")

There are 19031 Checkout Station IDs that are blank.

In [60]:
# Filling the Na values with zero for exploration
df_bike_na = df_bike_clean.fillna(0)

In [61]:
## To find which check out station have blank checkout IDs that is zero or #N/A
df_bike_checkout_id_blank = df_bike_na.loc[(df_bike_na["Checkout Station ID"] == 0) | (df_bike_na["Checkout Station ID"] == "#N/A")]
df_bike_checkout_id_blank["Checkout Station"].value_counts()

Zilker Park at Barton Springs & William Barton Drive    11534
Dean Keeton & Speedway                                   3825
ACC - West & 12th                                        2462
Convention Center/ 3rd & Trinity                         1292
Mobile Station                                           1183
East 11th Street at Victory Grill                        1030
Red River @ LBJ Library                                   584
Mobile Station @ Bike Fest                                516
Main Office                                               300
Bullock Museum @ Congress & MLK                           172
State Capitol @ 14th & Colorado                           111
MapJam at Pan Am Park                                      32
MapJam at French Legation                                  27
MapJam at Hops & Grain Brewery                             19
Repair Shop                                                15
MapJam at Scoot Inn                                        11
Shop                                                       10
Mobile Station @ Boardwalk Opening Ceremony                 9
Re-branding                                                 7
Customer Service                                            4
Mobile Station @ Unplugged                                  4
Marketing Event                                             4
Eeyore's 2018                                               2
Eeyore's 2017                                               1
Name: Checkout Station, dtype: int64

In [62]:
df_bike_clean["Checkout Station"].value_counts()

21st & Speedway @PCL                           42167
Riverside @ S. Lamar                           36988
City Hall / Lavaca & 2nd                       34604
2nd & Congress                                 33407
5th & Bowie                                    32405
Rainey St @ Cummings                           31680
4th & Congress                                 30160
Convention Center / 4th St. @ MetroRail        30001
Davis at Rainey Street                         29763
Capitol Station / Congress & 11th              25226
Pfluger Bridge @ W 2nd Street                  24699
3rd & West                                     21404
UT West Mall @ Guadalupe                       20858
Long Center @ South 1st & Riverside            20554
Palmer Auditorium                              19481
Zilker Park                                    19274
Barton Springs @ Kinney Ave                    19204
Barton Springs & Riverside                     19118
South Congress & James                         18505
Guadalupe & 21st                               17727
South Congress & Academy                       17617
Convention Center / 3rd & Trinity              17351
Barton Springs Pool                            16025
8th & Congress                                 15676
South Congress & Elizabeth                     15638
23rd & Rio Grande                              15360
Dean Keeton & Speedway                         14546
West & 6th St.                                 14106
22nd & Pearl                                   13919
Plaza Saltillo                                 13812
                                               ...
Zilker Park West                                1361
6th & Navasota St.                              1301
Convention Center/ 3rd & Trinity                1292
Mobile Station                                  1183
East 11th Street at Victory Grill               1030
Guadalupe & 6th                                  953
Pease Park                                       675
Lake Austin Blvd @ Deep Eddy                     606
8th & Guadalupe                                  587
Red River @ LBJ Library                          584
East 7th & Pleasant Valley                       550
Mobile Station @ Bike Fest                       516
Republic Square                                  453
Lake Austin & Enfield                            362
Main Office                                      311
State Parking Garage @ Brazos & 18th             250
MapJam at Pan Am Park                             32
MapJam at French Legation                         27
MapJam at Hops & Grain Brewery                    19
Repair Shop                                       15
MapJam at Scoot Inn                               11
Shop                                              10
Mobile Station @ Boardwalk Opening Ceremony        9
Re-branding                                        7
Mobile Station @ Unplugged                         4
Marketing Event                                    4
Customer Service                                   4
Eeyore's 2018                                      2
Stolen                                             1
Eeyore's 2017                                      1
Name: Checkout Station, Length: 104, dtype: int64

In [63]:
# Number of station which have no checkout ID
blank_stations = len(df_bike_checkout_id_blank["Checkout Station"].value_counts())

# Number of Unique Checkout Station
unique_checkout_stations = df_bike_clean["Checkout Station"].unique().size

# Number of station with unique checkout station ids other than zero
unique_stations_nonnull = unique_checkout_stations - blank_stations 

# Number of Unique Checkout Station ID
unique_checkout_id = df_bike_clean["Checkout Station ID"].unique().size


# Summary Checkout Station ID findings 
print(f"There are {blank_stations} stations without checkout ID.")
print(f"There are {unique_checkout_stations} Unique Checkout Station.")
print(f"There are {unique_stations_nonnull} stations with unique checkout station ids other than zero.")
print(f"There are {unique_checkout_id} Unique Checkout Station ID.")

There are 24 stations without checkout ID.
There are 104 Unique Checkout Station.
There are 80 stations with unique checkout station ids other than zero.
There are 85 Unique Checkout Station ID.

In [64]:
## list of checkout station id
checkout_station_id_list =  df_bike_na["Checkout Station ID"].value_counts().index
checkout_station_id_list

## we have 83 unique check out station ID excluding zero

Index(['3798', '2575', '2499', '2494', '2501', '2707', '2495', '2498', '2563',
       '2497', '2566', '2552', '2548', '2549', '2567', '2574', '2711', '2502',
            0, '2503', '2547', '2570', '2539', '2572', '2496', '2504', '3841',
       '2537', '3792', '2542', '3377', '2565', '3390', '2571', '2538', '3793',
       '3838', '2550', '2569', '3794', '2562', '3795', '3513', '2540', '3797',
       '2822', '2564', '3619', '3621', '2561', '3799', '2536', '3455', '2544',
       '3292', '2568', '2541', '3687', '1007', '1008', '3291', '3684', '3293',
       '#N/A', '3686', '3660', '2712', '2823', '2576', '3294', '3685', '2546',
       '2545', '3635', '1006', '1002', '3464', '3790', '1003', '3381', '2500',
       '3791', '3456', '1005', '1001'],
      dtype='object')

In [65]:
## we have more number of unique checkout station ids than number of unique checkout stations
## this implies we have few checkout station with more than one checkout station IDs

# creating a dictionary using keyword arguments checkout station and checkout station ids 
# To check which station has more than one checkout ids
Checkout_station_id = dict()
for index, row in df_bike_na.iterrows():
    if row['Checkout Station'] not in Checkout_station_id:
        Checkout_station_id[row['Checkout Station']] = set()
    else:
         Checkout_station_id[row['Checkout Station']].add(row['Checkout Station ID'])
Checkout_station_id

{'West & 6th St.': {'2537'},
 'Convention Center / 4th St. @ MetroRail': {'2498'},
 'Zilker Park at Barton Springs & William Barton Drive': {0},
 'Bullock Museum @ Congress & MLK': {'#N/A', '2538'},
 '8th & Congress': {'2496'},
 'East 11th St. & San Marcos': {'2569'},
 'South Congress & Elizabeth': {'2504'},
 'Pfluger Bridge @ W 2nd Street': {'2566'},
 'Riverside @ S. Lamar': {'2575'},
 '2nd & Congress': {'2494'},
 'Convention Center/ 3rd & Trinity': {0},
 'East 6th at Robert Martinez': {'2822'},
 'East 6th & Pedernales St.': {'2544'},
 'Davis at Rainey Street': {'2563'},
 'UT West Mall @ Guadalupe': {'2548'},
 'East 11th Street at Victory Grill': {0},
 'Palmer Auditorium': {'2567'},
 'State Capitol Visitors Garage @ San Jacinto & 12th': {'2561'},
 'Rainey St @ Cummings': {'2707'},
 '5th & Bowie': {'2501'},
 'Long Center @ South 1st & Riverside': {'2549'},
 '17th & Guadalupe': {'2540'},
 'Red River & 8th Street': {'2571'},
 'Barton Springs Pool': {'2572'},
 'State Capitol @ 14th & Colorado': {'#N/A', '2541'},
 'Capital Metro HQ - East 5th at Broadway': {'2823'},
 '3rd & West': {'2552'},
 'South Congress & James': {'2503'},
 'Barton Springs @ Kinney Ave': {'2711'},
 'City Hall / Lavaca & 2nd': {'2499'},
 'ACC - Rio Grande & 12th': {'2545'},
 'Guadalupe & 21st': {'2547'},
 '4th & Congress': {'2495'},
 'South Congress & Academy': {'2570'},
 'Barton Springs & Riverside': {'2502'},
 'Republic Square @ Guadalupe & 4th St.': {'2550'},
 'Trinity & 6th Street': {'2565'},
 'Red River @ LBJ Library': {0},
 'Toomey Rd @ South Lamar': {'2712'},
 '5th & San Marcos': {'2564'},
 'Capitol Station / Congress & 11th': {'2497'},
 '6th & Congress': {'3619'},
 'Zilker Park West': {'1006'},
 'Waller & 6th St.': {'2536'},
 'Plaza Saltillo': {'2542'},
 'Zilker Park': {'2574'},
 'ACC - West & 12th': {0},
 'San Jacinto & 8th Street': {'2562'},
 'Main Office': {'#N/A', 0, '1001'},
 'Pease Park': {'3464'},
 'Nueces @ 3rd': {'1008'},
 'East 11th St. at Victory Grill': {'2568'},
 'East 2nd & Pedernales': {'3293'},
 'Rainey @ River St': {'2576'},
 '11th & San Jacinto': {'3291'},
 'Convention Center / 3rd & Trinity': {'2539'},
 'Lavaca & 6th': {'1007', '3294'},
 'ACC - West & 12th Street': {'2546'},
 'East 4th & Chicon': {'3292'},
 'Re-branding': {'#N/A', 0},
 'Republic Square @ Federal Courthouse Plaza': {'3455'},
 'Guadalupe & 6th': {'3294'},
 'South Congress & Barton Springs at the Austin American-Statesman': {'3513'},
 'Brazos & 6th': {'3390'},
 'MoPac Pedestrian Bridge @ Veterans Drive': {'3377'},
 'Medina & East 6th': {'3660'},
 'Nueces & 3rd': {'3621'},
 'Shop': {0},
 'Republic Square': {'2500'},
 'Customer Service': {0},
 'East 7th & Pleasant Valley': {'3381'},
 '13th & San Antonio': {'3635'},
 'Stolen': set(),
 'Boardwalk West': {'3687'},
 'Mobile Station': {0},
 'Mobile Station @ Bike Fest': {0},
 'Marketing Event': {0},
 '6th & Navasota St.': {'1002'},
 'State Parking Garage @ Brazos & 18th': {'1005'},
 'Repair Shop': {'#N/A', 0},
 '8th & Guadalupe': {'1003'},
 'MapJam at Hops & Grain Brewery': {0},
 'MapJam at French Legation': {0},
 'MapJam at Pan Am Park': {0},
 'MapJam at Scoot Inn': {0},
 'Mobile Station @ Boardwalk Opening Ceremony': {0},
 'Mobile Station @ Unplugged': {0},
 'Henderson & 9th': {'3685'},
 'Sterzing at Barton Springs': {'3686'},
 'Congress & Cesar Chavez': {'3684'},
 'Republic Square @ 5th & Guadalupe': {'3455', '3456'},
 'Dean Keeton & Speedway ': {'#N/A', '3794'},
 'Dean Keeton & Whitis': {'3795'},
 'Rio Grande & 28th': {'3793'},
 '22nd & Pearl': {'3792'},
 'Nueces & 26th': {'3838'},
 '21st & University': {'3797'},
 'Lake Austin Blvd @ Deep Eddy': {'3790'},
 '23rd & Rio Grande': {'3841'},
 'Lake Austin & Enfield': {'3791'},
 '21st & Speedway @PCL': {'3798'},
 '23rd & San Jacinto @ DKR Stadium': {'3799'},
 "Eeyore's 2017": set(),
 "Eeyore's 2018": {'#N/A'}}

## Cleaning membership data 

While there are missing values in the membership data, we want to take a closer look to understand the types of memberships. Upon closer inspection there are memberships with similar names that should be categorized together. For example: U.T. Student Membership and UT Student Membership. Furthermore, it will be more helpful to categorize the data by day, weekend, week, month, year, 3 year, and student memberships.

But we are not dropping the rows because even in these rows the Trip IDs are correct 
which we can use to count number of rides made for our analysis for other columns

In [28]:
df_bike_clean["Membership Type"].value_counts()

Walk Up                                          368322
Local365                                         167363
U.T. Student Membership                          158480
24-Hour Kiosk (Austin B-cycle)                   108672
Local30                                           54774
Weekender                                         43880
Annual Membership (Austin B-cycle)                30306
Explorer                                          14860
Local365+Guest Pass                               10331
Local365 ($80 plus tax)                            4005
Founding Member                                    3550
7-Day                                              3137
Founding Member (Austin B-cycle)                   2764
7-Day Membership (Austin B-cycle)                  2760
Semester Membership (Austin B-cycle)               2426
Annual                                             1087
Semester Membership                                 900
Local30 ($11 plus tax)                              840
24-Hour-Online (Austin B-cycle)                     737
Weekender ($15 plus tax)                            566
Try Before You Buy Special                          522
Annual Member                                       480
Annual Membership                                   441
Annual (San Antonio B-cycle)                        402
RideScout Single Ride                               398
ACL Weekend Pass Special (Austin B-cycle)           329
Annual Member (Houston B-cycle)                     296
Annual Membership (Fort Worth Bike Sharing)         266
Annual (Denver B-cycle)                             232
Republic Rider (Annual)                             216
Explorer ($8 plus tax)                              186
Annual Plus                                         181
Annual (Madison B-cycle)                            165
Annual (Broward B-cycle)                            142
Annual (Denver Bike Sharing)                        131
Annual (Boulder B-cycle)                            129
Local365 Youth with helmet (age 13-17 riders)        97
Local365 Youth (age 13-17 riders)                    92
Annual Membership (GREENbike)                        71
Annual Pass                                          54
Annual (Cincy Red Bike)                              51
Annual (Kansas City B-cycle)                         51
Madtown Monthly                                      36
Aluminum Access                                      30
FunFunFun Fest 3 Day Pass                            27
Annual (Nashville B-cycle)                           27
Annual Plus Membership                               25
Annual Membership (Charlotte B-cycle)                22
Annual                                               18
Republic Rider                                       17
Membership: pay once  one-year commitment            15
Denver B-cycle Founder                               10
RESTRICTED                                           10
Annual Membership (Indy - Pacers Bikeshare )         10
UT Student Membership                                 9
PROHIBITED                                            8
Annual (Omaha B-cycle)                                3
24-Hour Membership (Austin B-cycle)                   1
Name: Membership Type, dtype: int64

In [66]:
# Examine Prohibited and Restricted
test = df_bike_clean.loc[df_bike_clean["Membership Type"] == "RESTRICTED", :]
test = df_bike_clean.loc[df_bike_clean["Membership Type"] == "PROHIBITED", :]
test.head()

,Trip ID,Membership Type,Bicycle ID,Checkout Date,Checkout Time,Checkout Station ID,Checkout Station,Return Station ID,Return Station,Trip Duration Minutes,Trip Month,Trip Year,Trip Date,Trip Day of Week,Trip Hour
326220,8482437,PROHIBITED,511,2016-01-20,15:34:07,2497,Capitol Station / Congress & 11th,2497,Capitol Station / Congress & 11th,0,1,2016,20,Wednesday,15
329487,8370751,PROHIBITED,391,2016-01-11,14:14:10,2497,Capitol Station / Congress & 11th,2497,Capitol Station / Congress & 11th,0,1,2016,11,Monday,14
329488,8370756,PROHIBITED,391,2016-01-11,14:14:46,2497,Capitol Station / Congress & 11th,2497,Capitol Station / Congress & 11th,1,1,2016,11,Monday,14
329489,8370766,PROHIBITED,391,2016-01-11,14:15:09,2497,Capitol Station / Congress & 11th,2497,Capitol Station / Congress & 11th,0,1,2016,11,Monday,14
347380,9900014475,PROHIBITED,391,2016-01-11,14:12:10,2497,Capitol Station / Congress & 11th,2497,Capitol Station / Congress & 11th,0,1,2016,11,Monday,14

In [67]:
# Replace all 24-hour with same name == day 
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {"24-Hour Kiosk (Austin B-cycle)": "day",
     "24-Hour-Online (Austin B-cycle)": "day",
     "24-Hour Membership (Austin B-cycle)": "day",
    "Explorer": "day", 
    "Walk Up": "day",
    "Explorer ($8 plus tax)":"day",
    "Try Before You Buy Special": "day",
    "RideScout Single Ride": "day", 
    "Aluminum Access":"day"})

# Replace all weekend membership == weekend 
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {
        "Weekender": "weekend", 
        "Weekender ($15 plus tax)": "weekend", 
        "ACL Weekend Pass Special (Austin B-cycle)": "weekend", 
        "FunFunFun Fest 3 Day Pass": "weekend"
    })

# Replace all weekend membership == week
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {
        "7-Day": "week", 
        "7-Day Membership (Austin B-cycle)": "week", 
    })


# Replace all weekend membership == month
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {
        "Local30": "month", 
        "Local30 ($11 plus tax)": "month",
        "Madtown Monthly":"month", 
    })


# Combine all student memberships
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {
        "U.T. Student Membership": "U.T. Student",
        "UT Student Membership": "U.T. Student", 
        "Semester Membership (Austin B-cycle)":"U.T. Student", 
        "Semester Membership": "U.T. Student"
    })

# Replace all annual membership == year
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {
        "Annual Membership (Austin B-cycle)": "year",
         "Annual Member": "year",
         "Annual Membership":"year",
         "Annual (San Antonio B-cycle)": "year",
         "Annual Member (Houston B-cycle)":"year",
         "Annual Membership (Fort Worth Bike Sharing)":"year",
         "Annual (Denver B-cycle)":"year",
         "Republic Rider (Annual)":"year",
         "Republic Rider": "year",
         "Annual Plus":"year",
         "Annual (Madison B-cycle)":"year",
         "Annual (Broward B-cycle)":"year",
         "Annual (Denver Bike Sharing)":"year",
         "Annual (Boulder B-cycle)":"year",
         "Annual Membership (GREENbike)":"year",
         "Annual Pass":"year",
         "Annual (Kansas City B-cycle)":"year",
         "Annual (Cincy Red Bike)":"year",
         "Annual (Nashville B-cycle)":"year",
         "Annual Plus Membership":"year",
         "Annual Membership (Charlotte B-cycle)":"year",
         "Annual Membership (Indy - Pacers Bikeshare )":"year",
         "Annual (Omaha B-cycle)":"year",
         "Annual":"year",
         "Annual ": "year",
         "Local365": "year", 
         "Local365+Guest Pass":"year",
         "Local365 ($80 plus tax)": "year",
         "Local365 Youth with helmet (age 13-17 riders)": "year", 
         "Local365 Youth (age 13-17 riders)":"year",
         "Membership: pay once  one-year commitment":"year"
        
    })

# Replace all founding membership == 3 year
df_bike_clean["Membership Type"] = df_bike_clean["Membership Type"].replace(
    {
        "Founding Member": "3 year",
        "Founding Member (Austin B-cycle)": "3 year",
        "Denver B-cycle Founder": "3 year"
    })

In [68]:
# Create a new data frame that does not include restricted and prohibited
bike_trips= df_bike_clean.loc[(df_bike_clean["Membership Type"] != "RESTRICTED") & (df_bike_clean["Membership Type"] != "PROHIBITED"), :]

In [69]:
# Verify clean up 
bike_trips["Membership Type"].value_counts()

day             493728
year            216726
U.T. Student    161815
month            55650
weekend          44802
3 year            6324
week              5897
Name: Membership Type, dtype: int64

In [70]:
# Filling the na values  
df_bike_clean = df_bike_clean.fillna(0)
df_bike_clean.count()

Trip ID                  991271
Membership Type          991271
Bicycle ID               991271
Checkout Date            991271
Checkout Time            991271
Checkout Station ID      991271
Checkout Station         991271
Return Station ID        991271
Return Station           991271
Trip Duration Minutes    991271
Trip Month               991271
Trip Year                991271
Trip Date                991271
Trip Day of Week         991271
Trip Hour                991271
dtype: int64

In [34]:
# Export to csv
df_bike_clean.to_csv("Clean_Data\out.csv", index = None)

FileNotFoundError: [Errno 2] No such file or directory: 'Clean_Data\\out.csv'